body {
  margin: 0;
  font-family: 'outfit', sans-serif;
}
header {
  background-color: white;
  padding: 15px;
}
header ul {
  float: right;
  color: black;
}
header li {
  display: inline-block;
  justify-content: center;
  font-size: large;
  padding: 0px 5px;
}

header p {
  display: inline-block;
}

.heroImg {
  background-color: #AAD9EE;
  padding: 100px 15px;
}

h1{
  font-size: 30px;
}

h3{
  font-size:20px;
}
p{
  font-size: 20px;
}

button {
  padding: 15px;
  background-color: #373738;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}

/*-- About Section --*/
.content2{
  margin:auto;
  display:flex;
  flex-direction:row;
  justify-content: center;
  padding: 50px;
  background-color: #AAD9EE;
}

.picMe{
  margin: 10px;
}

.aboutText{
  max-width: 450px;
  padding-top: 100px;
  padding-left: 50px;
  margin: 10px;

}

.Arrow{
  background-color: #AAD9EE;
}

#arrow{
  margin:auto;
  padding-bottom:25px;
  display: flex;
  justify-content: center;
}

/*--  My Work section coded using CSS Grid */
.myWork{
  padding: 60px 30px;
  padding-top: 0;
}
.workGrid{
  display:grid;
  grid-template-columns:50% 50%;
  grid-template-rows: 33% 33% 33%;
  grid-template-areas:
  "toppicture topcontent"
  "middlecontent middlepicture"
  "bottompicture bottomcontent";
}

.workGrid Img {
  display: block;
  width:100%;
  max-width: 1500px;
  margin: 0 auto;
}

.workGrid Text {
align-items: center;
display:flex;
}

.workImg1{
grid-area: toppicture;
}

.workText1{
  grid-area: topcontent;
  margin-top: 90px;
}

.workImg2{
grid-area: middlepicture;
}  

.workText2{
grid-area: middlecontent;
text-align: right;
margin-top:90px;
}

.workImg3{
grid-area: bottompicture;
}
        
.workText3{
grid-area: bottomcontent;
margin-top:90px;
}

.workText1 h1, .workText2 h1, .workText3 h1{
  font-size: 30px;
}

.workText1 p, .workText2 p, .workText3 p{
  font-size: 20px;
}

.workImg1, .workImg2, .workImg3, .workText1, .workText2, .workText3 {
  padding: 80px
}

#button1 {
  margin: auto;
  padding: 15px;
  text-align: center;
  max-width: 200px;
  background-color: #373738;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}



/*--  My UX Skills section coded using CSS flex */
.mySkills{
  padding: 60px 30px;
  padding-top: 0;
}

.flexContainer{
  display:flex;
  flex-direction:row;
}

.flexChild{
  background-color: #AAD9EE;
  width: 33%;
  padding:50px;
  margin:10px;
}


footer {
  background-color: #aad9ee;
  padding: 5px;
  color:#373738;

  font-size: smaller;
  text-align: center;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
  font-family: 'outfit', sans-serif;
}


/*Particles*/
body{ 
  margin:0; 
  font:normal 75% 'outfit', sans-serif; 
} 
canvas{ 
  display: block;  
} 
/* ---- particles.js container ---- */ 
#particles-js{ 
  position:absolute; 
  width: 100%; 
  height: 30%; 
  background-color: #00008B; 
  background-image: url(""); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: 50% 50%; 
} 
  /* ---- stats.js ---- */ 
  .count-particles{ 
    background: transparent; 
    position: absolute; 
    top: 48px; 
    left: 0; 
    width: 80px; 
    color: transparent; 
    font-size: .8em; 
    text-align: left; 
    text-indent: 4px; 
    line-height: 14px; 
    padding-bottom: 2px; 
    font-family: Helvetica, Arial, sans-serif; 
    font-weight: bold; 
  } 

  .goCrazy{
    color: white;
    text-align: center;
    justify-content: center;
  }
  .js-count-particles{ 
    font-size: 1.1em; 
  } 
  #stats, .count-particles{  
    margin-top: 5px; 
    margin-left: 5px; 
  } 
  #stats{ 
    border-radius: 3px 3px 0 0; 
    overflow: hidden; 
  } 
  .count-particles{ 
    border-radius: 0 0 3px 3px; 
  }

@media all and (max-width:700px) {

  .content2{
    display:flex;
    flex-direction:column;
  }

  .flexContainer{
    display:flex;
    flex-direction:column;
  }

  .flexChild{
    width: 100%;
  }

  .workGrid{
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "toppicture"
      "topcontent"
      "middlepicture"
      "middlecontent"
      "bottompicture"
      "bottomcontent"
    ;
  }
}